{/*.columns{
    width: 100px;
    height: 40px;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 5px;
    border-color: rgb(204, 241, 255);
    cursor: pointer;
    position:relative;
    right: 225px;
    top:175px;
    background-color: rgb(87, 154, 190);
}*/}
.a{
    color: red;
}
.b{
    color: yellow;
}
.c{
    color: blue;
}
.d{
    color: green;
}
.bgfill{
    "red": background-color: red;
}
.bgfillorange{
    background-color: orange;
}
.bgfillyellow{
    background-color: yellow;
}
.bgfillgreen{
    background-color: green;
}
.td{
    justify-content: center;
}

